<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("components/head", {title: "Paises - Consultécnica" })%>
        <link rel="stylesheet" href="css/country.css">
</head>

<body>
    <%- include('components/header') %>
        <main class="main">
            <h1 class="main-title">Selecione seu país</h1>
            <div class="cards-list">
                <div class="">
                    <a href="#" class="country">
                        <img src="icons/BRASIL.svg" alt="" class="country_size">
                        <div class="">
                            <h1 class="country_title">Brasil</h1>
                        </div>
                    </a>
                </div>

                <div class="">
                    <a href="#" class="country">
                        <img src="icons/URUGUAY.svg" alt="" class="country_size">
                        <div class="">
                            <h1 class="country_title">Uruguai</h1>
                        </div>
                    </a>
                </div>

                <div class="">
                    <a href="#" class="country">
                        <img src="icons/ARGENTINA.svg" alt="" class="country_size">
                        <div class="">
                            <h1 class="country_title">Argentina</h1>
                        </div>
                    </a>
                </div>

                <div class="">
                    <a href="#" class="country">
                        <img src="icons/PARAGUAY.svg" alt="" class="country_size">
                        <div class="">
                            <h1 class="country_title">Paraguai</h1>
                        </div>
                    </a>
                </div>
            </div>
        </main>

</body>

</html>