<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/system.css">
    <title>Hackaton</title>
</head>

<body>
    <main class="main">
        <div class="lista_paises">
            <h1 class="centrar-texto">Seleccione su pais</h1>
            <button href="#" value="" class="pais tarjeta-primary">Paraguay</button>
            <button href="#" value="" class="pais tarjeta-primary">Uruguay</button>
            <button href="#" value="" class="pais tarjeta-primary">Brasil</button>
            <button href="#" value="" class="pais tarjeta-primary">Argentina</button>

        </div>
    </main>

    <!--La idea es agregar imagenes de fondo con cada pais o lo que decida el equipo de interface-->
</body>

</html>