<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("components/head", {title: "Inicio - Consultécnica" })%>
        <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <%- include('components/header') %>
        <main class="main">
            <h1 class="main-title">Bem-Vindos</h1>

            <div class="cards-list">
                <a href="/secciones?lan=pr" class="card">
                    <img src="icons/te-escuchamos.svg" alt="" class="card-icon">
                    <div class="card-texts">
                        <p class="card-title">Te escutamos</p>
                        <p class="card-description">Faça uma série de enquetes contando sua experiência educacional
                        </p>
                    </div>
                </a>
                <a href="#" class="card">
                    <img src="icons/tu-opinion-en-cifras.svg" alt="" class="card-icon">
                    <div class="card-texts">
                        <p class="card-title">Sua opinião em estatísticas</p>
                        <p class="card-description">Observe suas respostas e as de milhares de alunos para saber o que
                            que
                            eles pensam</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <img src="icons/tu-opinion-construye.svg" alt="" class="card-icon">
                    <div class="card-texts">
                        <p class="card-title">Sua opinião construtiva</p>
                        <p class="card-description">Revise o impacto real que suas respostas tiveram</p>
                    </div>
                </a>
            </div>
        </main>
</body>

</html>