<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("components/head", {title: "Inicio - Consultécnica" })%>
        <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <%- include('components/header') %>
        <main class="main">
            <h1 class="main-title">Bienvenidos</h1>

            <div class="cards-list">
                <a href="/secciones" class="card">
                    <img src="icons/te-escuchamos.svg" alt="" class="card-icon">
                    <div class="card-texts">
                        <p class="card-title">Te escuchamos</p>
                        <p class="card-description">Realiza una serie de encuestas contando tu experiencia educativa.
                        </p>
                    </div>
                </a>
                <a href="/estadisticas_infraestructura" class="card">
                    <img src="icons/tu-opinion-en-cifras.svg" alt="" class="card-icon">
                    <div class="card-texts">
                        <p class="card-title">Tu opinión en cifras</p>
                        <p class="card-description">Observa tus respuestas y las de miles de estudiantes para conocer lo
                            que
                            piensan.</p>
                    </div>
                </a>
                <a href="#" class="card">
                    <img src="icons/tu-opinion-construye.svg" alt="" class="card-icon">
                    <div class="card-texts">
                        <p class="card-title">Tu opinión construye</p>
                        <p class="card-description">Revisa el impacto real que tuvieron tus respuestas</p>
                    </div>
                </a>
            </div>
        </main>
</body>

</html>