<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/system.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Hackaton</title>
</head>

<body>

    <main class="main">
        <a href="" class="settings">Ajustes</a>

        <img class="logo" src="logo vertical consultecnica plano.svg" alt="Nuestro Logotipo" />
        <p class="centrar-texto">Esto es un espacio de consulta para conocer tu experiencia y ayudar a mejorar la
            calidad de las escuelas técnicas del MERCOSUR
        </p>

        <div class="lista_tarjetas">
            <a href="#" class="tarjeta tarjeta-primary centrar-texto">
                <h3>Te escuchamos</h3>
                <p>esto es un texto cualquiera</p>
            </a>

            <a href="#" class="tarjeta tarjeta-secondary centrar-texto">
                <h3>Tu Opinion en cifras</h3>
                <p>esto es un texto cualquiera</p>
            </a>

            <a href="#" class="tarjeta tarjeta-fondo-blanco centrar-texto">
                <h3>Tu Opinion construye</h3>
                <p>esto es un texto cualquiera</p>
            </a>
        </div>
    </main>
</body>

</html>