<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="/___vscode_livepreview_injected_script"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/language.css">
    <title>Idioma</title>
</head>

<body>
    <center>
        <div class="bordaTela">
            <div class="logo"><img src="logo vertical consultecnica plano.svg" alt="" height="200rem" width="200rem">
            </div>
            <div>
                <h1 class="titulo01" style="margin-top: 0px; margin-bottom: 0px;">Seleccionar idioma</h1>
                <h2 class="titulo02" style="margin-top: 0px;">Selecione o idioma</h2>
            </div> <br>

            <div>
                <button class="espanhol">Español</button>
            </div> <br>

            <div>
                <button class="portugues">Português</button>
            </div>
        </div>
    </center>

</body>

</html>