<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("components/head", {title: "Seleccionar idioma - Consultécnica" })%>
        <link rel="stylesheet" href="css/language.css">
</head>

<body>
    <main class="main">
        <div class="logo-consultecnica"><img src="logo vertical consultecnica plano.svg" alt="Nuestro Logotipo "
                height="80rem" width="200rem">
        </div>
        <h1 class="main-title">Seleccione su idioma</h1>
        <h2 class="main-subtitle">Selecione seu idioma</h2>

        <button class="button button-primary">Español</button>
        <button class="button button-secondary">Português</button>
        <img class="logo-mercosur" src="logo-mercosur.png" alt="Mercosur Logotipo">
    </main>
</body>

</html>