<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/results.css">
    <title>Results</title>
</head>

<body>
    <center>
        <h1 class="titulo01">Nombre de Sección</h1>
        <p class="subtitulo01">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id explicabo rerum voluptatibus
            quidem
            iure libero rem eaque sit autem consequatur, nesciunt, obcaecati corporis enim, sint tenetur
            mollitia magni accusantium. Unde.</p>
    </center>

    <ul class="preguntas">
        <% for (let i=0; i < preguntas.length; i++) {%>
            <li>
                <p>
                    <%= preguntas[i].titulo%>
                </p>

            </li>
            <%}%>
    </ul>
</body>

</html>