<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("components/head", {title: "Secciones - Consultécnica" })%>
        <link rel="stylesheet" href="css/sections.css">
</head>

<body>
    <%- include('components/header') %>
        <main class="main">
            <h1 class="main-title">Te escuchamos</h1>
            <p class="center-text">Realiza una serie de encuestas contando tu experiencia educativa</p>
            <div class="container-section">
                <div class="section-card">
                    <img src="icons/INFRAESTRUCTURA.svg" alt="" class="icons-size">
                    <h2 class="card-title">Infraestructura</h2>
                </div>

                <div class="section-card">
                    <img src="icons/PROGRAMA EDUCATIVO.svg" alt="" class="icons-size">
                    <h2 class="card-title">Programa educativo</h2>
                </div>

                <div class="section-card">
                    <img src="icons/CONVIVENCIA.svg" alt="" class="icons-size">
                    <h2 class="card-title">Convivencia</h2>
                </div>

                <div class="section-card">
                    <img src="icons/OPORTUNIDAD LABORAL.svg" alt="" class="icons-size">
                    <h2 class="card-title">Oportunidad laboral</h2>
                </div>

            </div>
        </main>

</body>

</html>