body {
    color: #002369;
    background-color: rgba(252, 252, 252, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 1.5rem;
    flex-wrap: nowrap;
}

@font-face {
    font-family: Rowdies;
    src: url(../rowdies-regular.ttf);
    font-weight: 400;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
    max-width: 800px;
}

.isotype-icon {
    height: 3rem;
}

.center-text {
    text-align: center;
}

.settings-icon {
    width: 4rem;
    height: 4rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
    gap: 2rem;
    width: 100%;
    flex-wrap: nowrap;
    max-width: 800px;
}

.main-title {
    font-family: 'Inter';
    font-style: normal;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}


@media (min-width: 500px) {
    body {
        padding: 2rem 4rem;
    }
}

@media (min-width: 900px) {
    body {
        padding: 2rem 6rem;
    }
}

p {
    color: rgba(0, 35, 105, 1);
    font-family: 'Inter';
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0rem;
    text-decoration: none;
    text-transform: none;
}

.icons-size {
    width: 4rem;
    height: 4rem;
}