@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.main {
    max-width: 450px;
}

.main-title {
    text-align: center;
}

.main-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

.button-primary {
    background-image: linear-gradient(to right, #0489ef, #142396);
    color: #ffffff;

}

.button-secondary {
    background-image: linear-gradient(to right, #fff700, #f6c53cff);
    color: rgb(45, 45, 45);
}

.button-primary:hover {
    background-image: linear-gradient(to right, #0058cb, #63a7ff);
}

.button-secondary:hover {
    background-image: linear-gradient(to right, rgb(255, 187, 0), rgb(255, 225, 0));
}

.logo-consultecnica {
    margin-top: 2rem;
}

.logo-mercosur {
    height: 6rem;
    padding-top: 3rem;
}