@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

h1,
h2,
p,
li {
    font-family: 'Poppins', sans-serif;
    color: #145E96;
}

p {
    margin: 2rem;

}

.preguntas {
    margin: 0rem 10rem 10rem 10rem;
    border-radius: 1rem;
    background-color: #cbcbcb;
    padding: 1rem 1rem 1rem 3rem;

}