.data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.data-question {
    font-size: 1.2rem;
    font-weight: 700;
}

.main-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    padding: 2.1875rem;
    font-weight: 700;
}

.chart-container {
    width: 100%;
}

@media (min-width: 960px) {
    .chart-container {
        width: 30%;
    }
}

@media (min-width: 560px) {
    .chart-container {
        width: 60%;
    }
}