<header class="header">
    <a href="#" class="isotype"><img src="icons/isotipo.svg" alt="" class="isotype-icon"></a>
    <a href="#" class="settings"><img src="icons/ajustes-azul.svg" alt="" class="settings-icon"></a>
</header>